<% @menu_options.each do |menu, options| %>
  <div class="container-fluid kmSection">
    <div class="row kmSectionTitle">
      <div class="container">
        <div class="pull-left">
          <h4><%= menu %></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="container kmSection">
    <div class="row">
      <% options.each do |title, path| %>
        <%= link_to title, path, class: 'btn btn-warning btn-simple submenu' %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="container kmSection">
  <div class="row ">
    <a class="btn btn-danger btn-simple btnVersionServerRD" target="_blank" href="http://kpm-development.herokuapp.com/">View version of Server for R&D</a>
  </div>
</div>