<% if object.errors.any? %>
<div class="row errored">
  <div class="col-md-6 col-md-offset-3">
    <div id="error_explanation" class="form-errors">
      <div class="errors-list">
        <h3><%= pluralize(object.errors.count, "error") %> prohibited this <%= object.class.name.underscore %> from being saved:</h3>
        <ul>
          <% object.errors.full_messages.each do |msg| %>
            <li>&mdash; <%= msg %></li>
          <% end %>
        </ul>
      </div>
  
    </div>
  </div>
</div>
<% end %>