<div class="container-fluid" id="kmFooter">
  <div class="row bg">
    <div class="container text-right">
      <h5>
        &copy; 2015, Kids Play Math, LLC. All rights reserved.
      </h5>
    </div>
  </div>
</div>