<%
  menu = {
          'Dashboard' => dashboard_path,
          'Classrooms' => dashboard_classroom_path,
          'Activities'=> activities_path,
          'Teacher Mode'=> teacher_mode_path
         }
  menu['Admin Panel'] = dashboard_admin_path if current_user.admin?
%>
<div class="container-fluid kmSection">
  <div class="row content-tabs">
    <div class="container">
      <ul class="nav nav-tabs nav-justified">
        <% menu.each do |title, path| %>
          <li role="presentation" class="<%= path == request.path ? 'active' : '' %>">
            <%= link_to path do %>
              <%= title %>
              <span class="caret"></span>
            <% end %>
          </li>
        <% end %>
        
      </ul>
    </div>
  </div>
</div>