<% title = '&nbsp;' if local_assigns[:title].nil? %>
<div class="container-fluid kmSection">
  <div class="row kmSectionTitle">
    <div class="container">
      <div class="pull-left">
        <h4><%= raw(title) %></h4>
      </div>
    </div>
  </div>
</div>
