<% data = ['East High School', 'Denver School of the Arts', 'South High School', 'Green School'] %>
<% data.each do |school| %>
  <div class="container kmSection">
    <div class="row kmSectionTitle">
      <div class="container">
        <div class="pull-left">
          <h4><%= school %></h4>
        </div>
        <div class="pull-right">
          <%= link_to 'Select','javascript:', class: 'btn btn-wide btn-warning btn-large btn-simple' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
