<% if current_user.schools.any? %>
  <% current_user.schools.each do |school| %>
    <div class="container kmSection">
      <div class="row kmSectionTitle">
        <div class="container">
          <div class="pull-left">
            <h4><%= school.name %></h4>
          </div>
          <div class="pull-right">
            <%= link_to 'Select', set_school_path(school_id: school.id), class: 'btn btn-wide btn-warning btn-large btn-simple' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="centered">You have no associated schools and classrooms.</div>
<% end %>