<div id="kmLoginPage">
  <div class="container-fluid" id="kmLoginHeader">
    <div class="row">
      <div class="col-md-12 text-center font-brand">
        <h1>Kids Play Math</h1>
        <h1>Teachers Room</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a data-toggle="tab" href="#login_form">Login</a></li>
        <li role="presentation"><a data-toggle="tab" href="#register_form">Register</a></li>
      </ul>
      <div class="tab-content container">
        <div class="tab-pane fade in active" id="login_form">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <form class="form-horizontal">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-4 control-label">Username</label>
                  <div class="col-sm-8">
                    <input type="email" class="form-control" id="login_email" placeholder="Username">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-4 control-label">Password</label>
                  <div class="col-sm-8">
                    <input type="password" class="form-control" id="login_password" placeholder="Password">
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="row text-center">
            <div class="col-xs-12">
              <a href="javascript:;" id="forgot_password">Can't enter your account?</a>
            </div>
          </div>

          <div class="row text-right">
            <div class="col-md-6 col-md-offset-3">
              <a href="javascript:;" id="go" class="img-circle">GO</a>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="register_form"></div>
      </div>
    </div>
  </div>
</div>
