/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$color-brand: #f8a41b;
$color-brand-em: #ea9b1a;
$color-brand-fade: #f0642a;
$color-inv: #ffffff;
$color-info: #0092ce;
$color-info-em: #0087be;
$color-success: #167f3a;
$color-success-em: #147134;
$color-main: #363636;

@import "*";

@import url(http://fonts.googleapis.com/css?family=Cabin:400,700);
.font-brand {font-family: 'Cabin', sans-serif;}

body {font-family: "Myriad Pro", sans-serif; color:#808080;}
i {vertical-align:middle;}
.nowrap {white-space:nowrap;}
a, a:focus, a:hover, a:active {display:inline-block; text-decoration:none;}
.font-normal {font-size:14px;}
.font-large {font-size:16px;}
.font-xlarge {font-size:18px;}
.font-xxlarge {font-size:22px;}
.text-main {color:$color-main;}
