$dd-toggle-padding: 10px;
.dropdown {display:inline-block;
  > a {color:$color-inv;
    > span {display:inline-block; vertical-align:middle;}
  }
  &.simple {
    > a {padding-top:2px; padding-left:$dd-toggle-padding; padding-right:$dd-toggle-padding; background:$color-brand-fade; border-radius:10px;}
  }
  &.medium > a > span.value {min-width:150px;}
}

$width: 115px;
$height: 30px;
$border: 2px;
$inner-height: $height - $border * 2;
$action-width: 25px;
$action-offset: 5px;
$extra-action-offset: 30px;
$icon-height: 20px; //font-awesome default icon height
.btn-multi {position:relative; width:$width; height:$height; text-align:center;
  > .action {position:absolute; display:table; height:$height; width:100%; border-radius:100px;
    > .action-media {position:absolute; top:$border; width:$action-width; padding-top:($inner-height - $icon-height) / 2;}
    > .action-body {display:table-cell; vertical-align:middle;}
    + .extra-action {position:absolute; top:$border; right:$border; left:$border; height:100%;
      > .extra-container {display:table; width:100%;}
    }
    &.action-left {
      + .extra-action {left:$extra-action-offset; text-align:right;
        .dropdown.simple > a {border-radius: 0 100px 100px 0;}
      }
      > .action-media {left:$action-offset;}
      > .action-body {padding-left:$action-width; padding-right:$action-offset;}
    }
    &.action-right {
      + .extra-action {right:$extra-action-offset; text-align: left;
        .dropdown.simple > a {border-radius: 100px 0 0 100px;}
      }
      > .action-media {right:$action-offset;}
      > .action-body {padding-right:$action-width; padding-left:$action-offset;}
    }
    &.action-center {
      > .action-media {left:50%; margin-left: -$action-width / 2;}
    }
    &.warning {background:$color-brand;
      &:hover {background:$color-brand-em;}
    }
    &.info {background:$color-info;
      &:hover {background:$color-info-em;}
    }
    &.success {background:$color-success;
      &:hover {background:$color-success-em;}
    }

  }
  a {color:$color-inv;}
  .extra-action .dropdown.simple {width:100%; text-align:left;
    > a {width:100%; padding-top:4px; padding-bottom:2px;
      > span:first-child {min-width:$width - $border - $extra-action-offset - $dd-toggle-padding * 2 - 13px} /* 13px is a caret size (10px) + space between inline-blocks (3px)*/
    }
  }
}

/* TABLES */
table.table {width:100%;
  &.row-separate {border-collapse:separate; border-spacing:0 8px;}
  &.row-col-separate {border-collapse:separate; border-spacing:8px;}
  &.inline {width:auto;}
  &.solid > * > tr > * {border:none;}
  &.continual {margin-bottom:0;}
  > .row-high > tr > * {height:55px;}
  > .v-middle > tr > * {vertical-align:middle;}
  > .v-top > tr > * {vertical-align:top;}
  > thead > tr > th {font-weight:normal; border-bottom:solid 2px #cccccc; color:#cccccc;}
  > tbody {
    > tr {position:relative;}
  }
  > * > tr {
    &.col-pad > * {padding-left:10px; padding-right:10px;}
    > *.col-pad {padding-left:10px; padding-right:10px;}
    &.section > * {padding-top:30px;}
    &.subsection > * {padding-top:20px;}
    &.v-middle > * {vertical-align:middle;}
    &.v-top > * {vertical-align:top;}
    &.no-border-top > * {border-top:none;}
    > *.minimal {width:1px; white-space:nowrap;}
    > *.equal {width:50%;}
    > *.actions {
      .btn {margin-left:5px; margin-right:5px;}
    }
    > *.fit { padding-left:0; padding-right:0;}
    > *.fit-left {padding-left:0;}
    > *.fit-right {padding-right:0;}
    > *.v-top {vertical-align:top;}
  }
  &.fit > * > tr > * {
    &:first-child {padding-left:0;}
    &:last-child {padding-right:0;}
  }
}

/* GRID */
.grid {
  > .grid-row {
    $border: solid 2px #ccc;
    $border-radius: 8px;
    > .grid-col {border-top:$border}
    &:first-child > .grid-col {
      &:first-child {border-top-left-radius:$border-radius;}
      &:last-child {border-top-right-radius:$border-radius;}
    }
    &:last-child > .grid-col {border-bottom:$border;
      &:first-child {border-bottom-left-radius:$border-radius;}
      &:last-child {border-bottom-right-radius:$border-radius;}
    }
    > .grid-col {
      &:first-child {border-left:$border;}
      &:last-child {border-right:$border;}
    }
  }
  $padding: 10px;
  &.grid-pad > .grid-row > .grid-col {padding: $padding;}
}

.dropdown-wrap {position:absolute; min-width:100%;
  .dropdown-menu {position:static; float:none; border-bottom-left-radius:0; border-bottom-right-radius:0;}
  .dropdown-action {display:none; margin-top:-1px; border:1px solid rgba(0, 0, 0, 0.15); border-top-color: #cccccc; background:$color-inv;
    > a {width:100%;}
  }
}
.open > .dropdown-wrap {
  > .dropdown-menu {display:block;}
  > .dropdown-action {display:block;}
}

.btn.submenu{ margin:20px; width: 240px; padding: 8px 0;}

.btnVersionServerRD{margin: 0 20px 0 20px ;width: 240px;padding: 8px 0;color: black;
  &:hover{color: black;};
}
.iFrameGames{display: inline-block; position: absolute; top: 300px;}
.iFrameGames .btn.btn-simple.btn-warning.inactive{background-color:#ffffff; border-width: 2px; border-color: #a3a3a3; color: #a3a3a3;}
.iframe{margin-left: 300px; display: inline-block; margin-top: 50px;}
#game_ifrm{width: 850px; height: 850px;}

.row.actions {
  .btn-simple + .btn-simple {margin-left:15px;}
  &.multi-row .btn {margin-bottom:10px;}
}

#bulk_submit{display:inline;}

table.table.fit.schools tr{height:50px; border-bottom: 1px solid #dddddd;}

.row.text-center.actions{margin-top: 20px;}
.errored{color: #FF0000;
  h2 { font-size:24px; }
}
.pagination{display:block; text-align:center;}
.confPassword{
  margin-top: 15px;
}
.confPasswordGroup{
  margin-top: -20px;
}
.resetForm .control-label{text-align:right !important;}

.dropdown.simple.bulkTime a{ border-radius: 100px; height: 30px;}

.padding-wall{ padding: 200px 0 20px 0; }
.FirstClassroom{ display: inline-block; a:first-child{margin-right: 15px;}}
.dropdown.simple.selected > a{text-align:center; background: #167f3a;}
.dropdown.simple.bulkSelectTime{text-align:left;}
.dropdown.simple.bulkSelectTime > a{ padding-top: 5px; padding-bottom: 5px; border-radius: 100px;}
.status{
  float: left;
  background: #e2e2e2;
  line-height: 2em;
  text-align: center;
  border-radius: 15px;


}
.activities{
  color: green;
  border: 1px solid green;
}
.noactivities{
  color: black;
  border: 1px solid grey;
}
.timeLimit{
  margin: 0 15px 0 0;
}
.row.actions.text-right > h4{
  text-align: center;
  padding-bottom: 15px;
  margin-right: -38px;
}

#wrapper{min-height:100%;padding-bottom: 50px}
